body{
    text-align: center;
}
.first{
    background-color:#EEEEEE; 
    margin: 0 5%;
}
.second{
    background-color:#EEEEEE; 
    margin: 0.2% 5%;
}

.second-first{
    background-color: #7EE5DA;
    float:left;
    width:36.9%;
    padding-bottom: 1%;
}
.second-second{
    background-color: #70CCC2;
    float:left;
    width: 26%;
    margin: 0 0.1%;
}
.second-thirty{
    background-color: #62B3AA;
    float:left;
    width: 36.9%;
    font-size:12px;
}
.last{
    clear:both;
    margin-top: 5%;
}